html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  vertical-align: middle;
}

body {
  font-family: "Roboto", sans-serif;
}

ul,
li {
  list-style: none;
}

.app-wrapper {
  display: grid;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    " header header"
    " nav main";
}
.header {
  grid-area: header;
  background-color: cornflowerblue;
}
.header-logo {
}
.nav {
  grid-area: nav;
  background-color: cornsilk;
}
.nav-list {
}
.nav-list__item {
}
.nav-link {
}

.main {
  grid-area: main;
  background-color: darkorange;
}
